* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Croissant One', cursive;
}

.wrapper {
    height: 100%;
    background: linear-gradient(1500deg, rgb(252, 241, 241), rgb(99, 0, 0), rgb(255, 255, 255));
    display: flex;
    text-align: center;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    text-align: center;
    color: rgb(115, 135, 196);
    margin-bottom: 50px;
    margin-top: 50px;
}

.main-text {
    margin-top: 20px;
    font-size: 18px;
    color: rgba(65, 105, 225, 0.8);
}

.desc-header {
    margin-top: 50px;
}

.desc {
    list-style: none;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

.desc-header-2 {
    margin-top: 50px;
}

.desc-2 {
    list-style: none;
    font-size: 16px;
    color: rgb(255, 255, 255, 0.7);
}

.footer {
    color: aqua;
    margin-top: 70px;
    font-size: 32px;
    text-align: center;
}

.Delfa {
    color: yellowgreen;
    list-style: none;
}